mlx-lm==0.30.7
typer[all]
rich
gitpython
pydantic
pydantic-settings
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
questionary
sqlmodel
Pillow
fastembed
qdrant-client==1.16.2
psutil
prompt_toolkit
PyYAML
